/* Styles for Navbar Component */

.navbar {
    margin-top:50px;
    border-radius:0;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}
.navbar .navbar-brand {
    font-size:20px;
    font-weight:600;
    padding-top:0px;
}
.navbar-brand .brand-logo {
    display: inline-block;
}
.navbar-brand .brand-text {
    display: inline-block;
    margin-left:5px;
}