<section id="home-jumbo">
    <div class="container">
        <div class="row">
            <div class="main-jtron">
                <div class="silder-text col-md-5">
                    <h2>Experimental Geeks</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                    <button class="btn btn-sm jbt-btn">Sign In</button>
                </div>
                <div class="slider-image col-md-5 col-md-offset-2 hidden-xs">
                    <img class="img img-responsive" src="assets/images/Brain.png"/>
                </div>
            </div>
        </div>
    </div>
</section>