<section id="home-jumbo">
    <div class="container">
        <div class="row">
            <div class="main-jtron">
                <div class="silder-text col-md-5">
                    <h2>Experimental Geeks</h2>
                    <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>
                    <button class="btn btn-sm btn-default">Sign In</button>
                </div>
                <div class="slider-image col-md-5 col-md-offset-2">
                    <img src="../../../assets/images/Brain.png"/>
                </div>
            </div>
        </div>
    </div>
</section>