
#tour {
    padding:20px 0;
}
#tour .tour-platform {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.tour-notes {
    flex-grow:1;
    align-self: center;
}
.tour-show {
    flex-grow:1;
    align-self: center;
}
.tour-btn {
    border:1px solid #ed9d62;
    color: #ed9d62;
    background:none;
}
.tour-btn:hover {
    background: #ed9d62;
    color:#fff;
}

#testimonial {
    margin:40px 0;
}
#testimonial .container .row .platform {
    margin: 30px 0 40px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: space-between;
}
#testimonial .container .row .platform .avathar {
    width:100px;
    height: 100px;
}

@media screen and (min-width:1200px){
    #tour {
        border:none;
        background :url("../../../assets/images/road-marking.png") 0 100% repeat-x;
    } 
    .tour-btn {
        margin-right:35px;
    }
    .tour-show .img {
        margin-left:35px;
    }
}

@media screen and (max-width:768px){
    #tour {
        border:1px solid #e5e5e5;
        background:none;
    }    
    .tour-notes{
        padding:15px;
    }
    .tour-btn {
        margin:0 15px;
    }
}