
<section id="tour">
    <div class="container">
        <div class="row">
            <div class="tour-platform">
                <div class="tour-notes">
                    <h3>Illusive Mapping</h3>
                    <p>This is mapping at it's best. Can't speak anything more now, but this tool is going to be awesome. !!!!!</p>
                </div>
                <div class="tour-show">
                    <button class="btn btn-sm tour-btn">Take a Tour</button>
                    <img class="img hidden-xs" src="assets/images/tour-bike.png"/>
                </div>
                <!-- 
                <div class="col-lg-7 col-md-7 col-sm-8 col-xs-8 tour-text">
                    <h3>Illusive Mapping</h3>
                    <p>This is mapping at it's best. Can't speak anything more now, but this tool is going to be awesome. !!!!!</p>
                </div>
                <div class="col-md-5 tour-guide">
                <div class="col-lg-5 col-md-5 col-sm-2 col-sm-offset-1 col-xs-2 tour-guide">
                    <button class="btn btn-sm btn-primary">Take a Tour</button>
                    <img class="img hidden-xs" src="assets/images/tour-bike.png"/>
                </div>
                -->
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="platform">
                <h3>Review</h3>
                <div class="avathar">
                    <img class="img img-circle img-responsive" src="assets/images/a4.jpg"/>
                </div>
                <p class="text-center">"Duis dui odio, condimentum sit amet suscipit eu, ullamcorper vitae nibh. Sed congue lorem id vestibulum facilisis. Phasellus sollicitudin ex arcu. Sed nec dolor libero. Nunc sem justo, congue eu suscipit et, porttitor et dolor. Ut massa velit, efficitur eget sollicitudin sit amet, vehicula sed elit. Sed faucibus metus lectus."  
                </p>
                <label>Brendon Julian</label>
                <span>Lead Role</span>
                <span>Narcos</span>    
            </div>
        </div>
    </div>
</section>